doctype html
html
    include ../../includes/head/head.pug
    style
        include log.css
    body
        include ../../includes/navigation/nav.pug

        //blah

        include ../../includes/footer/footer.pug