.main-container {
    background-color: #fff;
    width: 100%;
    height: 85%;
}

.hero-container {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 95%;
    height: 95%;
}

.writeup-container {
    margin: auto;
    width: 95%;
    height: 50%;
    overflow: scroll;
}

.writeup-container > h2 {
    margin: 20px 0 5px 0;
}

.writeup-container > p {
    margin: 0;
}

button {
    display: block;
    font-size: 14px;
    margin: 20px auto;
    width: 100px;
    height: 50px;
}