doctype html
html
    include ../../includes/head/head.pug
    style
        include index.css
    body
        include ../../includes/navigation/nav.pug
        
        div(class='main-container')
            div(class='hero-container')
                img(src='images/view5.jpg' alt='View 5 provides a beautiful view of neighboring town, Mapleton Depot.' class='hero-img')
            div(class='writeup-container')

                h2 History
                p Thousand Steps is a section of the Standing Stone Trail. Historically constructed in 1936 during the brickmaking boom of the local area, providing access to Ledge Quarry for Harbison-Walker employees. This area was an essential part of the brick production operation in neighboring Mount Union.

                h2 Today
                p Today the trail is owned and maintained by the Pennsylvania Game Commission, residing on State Game Lands 112. The Standing Stone Trail is part of the Great Eastern Trail, and is a fantastic hike with ease of access and great views.

                h2 Vistor Log
                p Check into the Thousand Steps digital Vistor Log.
                button Check In
                

        include ../../includes/footer/footer.pug