doctype html
html
    include ../includes/head/head.pug
    style
        include index.css
    body
        include ../includes/navigation/nav.pug
        
        div(class='main-container')

        include ../includes/footer/footer.pug